/**
 * Add your design tokens as Tailwind theme variables.
 *
 * https://tailwindcss.com/docs/theme
 */
@theme {
	/* Couleurs basées sur theme.json */
	--color-background: var(--wp--preset--color--background);
	--color-foreground: var(--wp--preset--color--foreground);
	--color-primary: var(--wp--preset--color--primary);
	--color-secondary: var(--wp--preset--color--secondary);
	--color-tertiary: var(--wp--preset--color--tertiary);
	--container-content: var(--wp--style--global--content-size);
	--container-wide: var(--wp--style--global--wide-size);

	/* Familles de polices */

	/* Body : Anek Gujarati */
	--font-sans:
		"Anek Gujarati",
		ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";

	/* Titres : Eight (Adobe) */
	--font-heading:
		"eight",
		"Anek Gujarati",
		ui-sans-serif, system-ui, sans-serif;

	/* Serif et mono par défaut */
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;

	/* Tailles titres (Eight) */
	--text-h1: 128px;
	--text-h2: 96px;
	--text-h3: 80px;
	--text-h4: 64px;
	--text-h5: 48px;
	--text-h6: 33px;
	--text-h7: 24px;
	--text-h8: 20px;

	/* Tailles body (Anek Gujarati) */
	--text-body1: 32px;
	--text-body2: 24px;
	--text-body3: 22px;
	--text-body4: 20px;
	--text-body5: 16px;

	/**
	 * Add your theme below:
	 */
}

